{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<h1 class="text-muted text-center">My account</h1>

<div class="container">
    <h2 class="text-center">Hello {{app.user.nomComplet}}</h2>

    <hr>

    {% if is_granted("ROLE_ADMIN") %}
    <p><a href="{{path('app_user')}}">List of users</a></p>
    <p><a href="#">Have a look on the comments</a></p>
    <p><a href="{{path('app_all_article')}}">See the articles</a></p>
    {% endif %}

    <p><a href="{{path('app_user_edit', {id: app.user.id})}}">Edit my profil</a></p>
</div>

{% endblock %}